.inner-main-page {
  text-align: center;
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.page-title {
  margin-top: 0;
  text-transform: uppercase;
  font-size: 2.6rem;
  font-weight: 600;
  letter-spacing: 0.2rem;
  margin-bottom: 0;
}

.main-page-title+div {
  margin-top: 3rem;
}

@media screen and (min-width: 750px) {
  .main-page-title+div {
    margin-top: 4rem;
  }
}

.page-placeholder-wrapper {
  display: flex;
  justify-content: center;
}

.page-placeholder {
  width: 52.5rem;
  height: 52.5rem;
}

.main-page-has-content .inner-main-page {
  min-height: auto;
}

.main-page-has-content .page-title {
  font-weight: 400;
  text-transform: unset;
}

@media screen and (min-width: 750px) {
  .main-page-has-content .page-title {
    font-size: 3.5rem;
  }
}